venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/
logs/
*.log
fix*.py
*.pot
*.mo
.env
debug/
artifacts/
.venv
data/*.xmnl
db.sqlite3
.DS_Store
staticfiles/
media/
.idea/
.vscode/
node_modules/
theme/static_src/node_modules/
tests/